@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Meie pühas</h1>
    </section>

    <div class="row">
        @*Viitame PyhasControlleride ja Index meetodile*@
        <p class="lead">Uuri meie pakkumised: </p>
        @Html.ActionLink("Meie pühad", "Index", "Pyhas", null, new { @clss = "btn btn-primary btn-md" })
    </div>
    <div class="row">
        @*Viitame HomeControllerile, sest Ankeet meetod asub seal!*@
        <p class="lead">Tee oma valik: </p>
        @Html.ActionLink("Vastan küsimustele", "Ankeet", "Ankeet", null, new { @clss = "btn btn-primary btn-md" })
    </div>
</main>